## Never commit secrets to git
secrets:
  xraylab:
    db:
      db_user: PLAINTEXT
      db_passwd: PLAINTEXT 
      db_root_passwd: PLAINTEXT
      db_host: PLAINTEXT
      db_dbname: PLAINTEXT
      db_master_user: PLAINTEXT
      db_master_password: PLAINTEXT
